body{
  margin: 0px;
  padding: 0px;
}

 header {
  background-image: url('https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-color: rgba(103,86,130,0.99);
  font-family: arial;
  color: white;
  padding: 15px 0px;
  margin: 0px;
}

header h1 {
    font-family: 'poppins';
    font-size: 93px;
    padding: 0px;
}

header h1, h2{
  text-align: center;
}

header ol{
  border: 0.5px dotted lightgrey;
  margin: 0px 250px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: white;
}

header ol>h3{
  text-align: center;
  color: #5F0F4e;
}


header ol>li {
  color: #5F0F4e;
  padding: 5px;
  margin: 12px;
  margin-left: 95px;
  font-size: 16px;
  list-style-type: none;
}

header ol>li:before{
  content: '\1F4B0';
  margin-left: -15px;
  margin-right: 8px;
}

main {
  color: #675682;
  background-color: white;
  margin: 0px 45px;
  margin-left: 40px;
}

.events {
  margin-left: 200px;
}

.expenses * {
  margin-left: 200px;
}

.totBud{
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  border: 1px dotted lightgrey;
  padding: 25px;
  background-color: lightgrey;
}

.eventForm {
  padding: 20px;
  border: 2px dotted lightgrey;
  margin-bottom: 5px;
}

.eventForm>div {
  padding: 8px;
}

ul>li{
  list-style-type: none;
}

#beforeEmoji::before{
  content: '\1F389';
  margin-left: -30px;
  margin-right: 10px;
}

.expenseForm{
    padding: 20px;
    margin-left: 200px;
    border: 2px dotted lightgrey;
}

.expenseForm>div {
  padding: 8px;
}

.expenseListSection{
  /* margin: 0px 45px; */
  color: #675682;
  background-color: white;

}

.subCatItem {
  margin-left: 200px;
  list-style-type: none;
}

#expenseEmoji::before{
  content: '\1F4B8';
  margin-left: -30px;
  margin-right: 10px;
}

button{
  color: white;
  background-color: #67aECA;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}


@media (max-width: 600px) {
  body {
    max-width: 100%;
    height: auto;
    margin: 0px;
  }

  header ol {
    margin: 0px;
  }

  /* header ol>li {
    margin: 5px;
  } */

  header{
    padding: 3px;
    margin: 0px;
  }

  header h1{
    font-size: 30px;
    margin: 0px;
  }

  #intro * {
    font-size: 18px;
    /* padding:12px; */
  }

  .totBud * {
    font-size: 18px;
    padding: 10px;
  }

  .events {
    margin: 0px;
  }

  .expenses * {
    margin: 0px;
  }

  .expenseForm {
    margin: 0px;
  }

  .subCatItem {
    margin: 0px;
  }
 }
